/* .entryForm  {

    justify-content: center;
margin: 0 auto;

} */

body {
    margin: 0 auto;

}

.formEntry {
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: grey;
    padding: 30px;

}



h1 {

    font-size: 3rem;
    margin: 0 auto;
    padding: 0 0 20px 0;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}


label {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}


input {

    font-size: 1.5rem;
    width: 50%;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;

}



.submit {
    position: absolute;
    right: 20px;
    margin-right: 20px;
    border: 3px solid bisque;
    color: white;
    background-color: black;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
}

.submit:hover {
 font-size: 4em;   
}





.styledTop {
    color: white;
    text-shadow: 5px black;
    outline-width: 2px;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 2em;
    letter-spacing: 2px;
}


.styledBottom {
    color: white;
    text-shadow: 5px black;
    text-align: center;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-25%, -25%);
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 2em;
    letter-spacing: 2px;
}


.styledImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 370px;
    width: 370px;
    object-fit: cover;
    /* Other styles as needed */
}

.memeBox {
    position: relative;
    height: 320px;
    width: 320px;
    border: 25px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Other styles as needed */
}



.removeBtn {

    border: 3px solid blue;
}

.removeBtn:hover {

    color: brown;
}